TABLE {
    position:relative;
    border-width:1px;
    border-style:solid;
    border-color:black;
    border-collapse:collapse;
    /*margin-left:50px;*/
}
TH {
    border-width:1px;
    padding:3px;
    border-style:solid;
    border-color:black;
    background-color:silver;
}
TD {
    border-width:1px;
    padding:3px;
    border-style:solid;
    border-color:black;
}
/*
TR:Nth-Child(Even) {
    background-color:#eee;
}
TR:Nth-Child(Odd) {
    background-color:#ddd;
}
TR:Hover TD {
    background-color:#fff;
}
.shadow {
    -moz-box-shadow:3px 3px 5px 6px #ccc;
    -webkit-box-shadow:3px 3px 5px 6px #ccc;
    box-shadow:3px 3px 5px 6px #ccc;
}
*/